<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Unnamed CSS</title>

    <link rel="stylesheet" type="text/css" href="unnamed.css">
  </head>
  <body>
    <h1>
      Max Shalom
    </h1>

    <div class="card card-hoverable" class="center-text">
      <div class="card-header">
          <h4>Card header</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>

    <div class="row">
      <div class="column xlarge-3 medium-6 small-12">
          <div class="columns">
            
            <div class="card card-hoverable" class="center-text">
              <div class="card-header">
                  <h4>BootstrapX</h4>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>

            <div class="card card-hoverable" class="center-text">
              <div class="card-header">
                  <h4>Codus Operandi</h4>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>

            <div class="card card-hoverable" class="center-text">
              <div class="card-header">
                  <h4>AP-Java</h4>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>

          </div>
      </div>
    </div>

    <div class="type-buttons">
      <button href="https://github.com/MaxShalom" class="btn btn-primary gradient-green">Github</button>
    </div>

  </body>
</html>
