<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <link rel="stylesheet" href="spectre.min.css">
  <link rel="stylesheet" href="spectre-exp.min.css">
  <link rel="stylesheet" href="spectre-icons.min.css">

</head>
<body>
  <header class="navbar">
    <section class="navbar-section">
      <a href="#" class="btn btn-link">Docs</a>
      <a href="#" class="btn btn-link">Examples</a>
    </section>
    <section class="navbar-center">
      <!--<img src="assets/max-logo.png">-->
      <h2>
        Max Shalom
      </h2>
    </section>
    <section class="navbar-section">
      <a href="#" class="btn btn-link">Twitter</a>
      <a href="#" class="btn btn-link">GitHub</a>
    </section>
  </header>
  
  <ul class="tab tab-block">
    <li class="tab-item active">
      <a href="#">Music</a>
    </li>
    <li class="tab-item">
      <a href="#" >Playlists</a>
    </li>
    <li class="tab-item">
      <a href="#">Radio</a>
    </li>
    <li class="tab-item">
      <a href="#">Connect</a>
    </li>
  </ul>

  <div class="card">
    <div class="card-image">
      <img src="assets/card.jpg" class="img-responsive">
    </div>
    <div class="card-header">
      <div class="card-title h5">Microsoft</div>
      <div class="card-subtitle text-gray">Software and hardware</div>
    </div>
    <div class="card-body">
      Empower every person and every organization on the planet to achieve more.
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Do</button>
    </div>
  </div>

  <ul class="pagination">
    <li class="page-item page-prev">
      <a href="#">
        <div class="page-item-subtitle">Previous</div>
        <div class="page-item-title h5">Getting started</div>
      </a>
    </li>
    <li class="page-item page-next">
      <a href="#">
        <div class="page-item-subtitle">Next</div>
        <div class="page-item-title h5">Layout</div>
      </a>
    </li>
  </ul>

</body>
</html>