<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/component.css">

    <title>
      Bootstrap Set-Up
    </title>
  </head>
  <body>
    
    <!--Card with Picture-->
    <h3>Card with Pictures</h3>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://2.bp.blogspot.com/-HDAZ3X-b0r0/V3Wh6pCV-WI/AAAAAAAA57o/hI1KVFR2wYELGnlscZV4pbdaWsbV2U1igCLcB/s1600/Banff-National-Park-14.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Banff National Park</h5>
        <p class="card-text">Banff National Park is a beautiful place in Alberta, Canada.</p>
        <a href="https://www.banfflakelouise.com/" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </br>
  </br>

    <!--Card with Links-->
    <h3>Card with Links</h3>
  </br>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">New York City</h5>
        <h6 class="card-subtitle mb-2 text-muted">NY, United States of America</h6>
        <p class="card-text">New York City is the most populous city in the United States, with an estimated 2016 population of 8,537,673 people.</p>
        <a href="https://www.nycgo.com/" class="card-link">Visit NYC</a>
        <a href="https://goo.gl/maps/2wv6gSUC3p72" class="card-link">Directions</a>
      </div>
    </div>

  </br>
  </br>

    <!--Image as Card Background-->
    <h3>Image as Card Background</h3>
  </br>
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://raw.githubusercontent.com/MaxShalom/BootstrapX/master/Components/assets/gradient.png" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">Portland, OR</h5>
        <p class="card-text">Portland is the largest city in the U.S. state of Oregon and the seat of Multnomah County. The population is 639,863 people.</p>
        <p class="card-text">Last updated January 1, 2018</p>
      </div>
    </div>

  </br>
  </br>

    <!--Colored Cards-->
    <h3>Colored Cards</h3>
  </br>  
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Yellow</div>
      <div class="card-body">
        <h5 class="card-title">Colors</h5>
        <p class="card-text">Yellow is a color made from a mixture of green and blue.</p>
      </div>
    </div>

  </br>

    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Colors</div>
      <div class="card-body">
        <h5 class="card-title">Turquoise</h5>
        <p class="card-text">Turquoise is a color made from a mixture of green and blue.</p>
      </div>
    </div>
      
  </br>

    <!--Outline Colored Cards-->
    <h3>Outline Colored Cards</h3>
  </br>
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Star Wars</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Jedi</h5>
      <p class="card-text">A tremor in the Force. The last time I felt it was in the presence of my old master. </p>
    </div>
  </div>
    
  </br>

  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Star Wars</div>
    <div class="card-body text-dark">
      <h5 class="card-title">The Force</h5>
      <p class="card-text">Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, 
        but I've never seen anything to make me believe there's one all-powerful Force controlling everything.</p>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    
  </body>
</html>