<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Live Components</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet"> 

  <style>
    body {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      align-content: center;
    }
    
    h1 {
      color:rgb(53, 116, 116);
      margin-left: 40px;
    } 

    a {
      color:dodgerblue;
    }
  </style>

</head>
<body>

  <h1>
    BootstrapX Live Component Examples
  </h1>

  <p>
    On this website are the live, working  examples of the components in my 
    BootstrapX project, "Creative and Practical Bootstrap Examples."
  </p>

  <h2>
    Components:
  </h2>
  <p>
    <a href="https://bootstrapx.surge.sh/navbar">Navbar</a>
    </br>
    <a href="https://bootstrapx.surge.sh/jumbotron">Jumbotron</a>
    </br>
    <a href="https://bootstrapx.surge.sh/cards">Cards</a>
    </br>
    <a href="https://bootstrapx.surge.sh/alerts">Alerts</a>
    </br>
  </p>

  <h2>
    See the <a href="http://maxshalom.me/BootstrapX/">BootstrapX website</a> and the rest of the project.
    </br>
    See the <a href="https://github.com/MaxShalom/BootstrapX">project repository</a> on GitHub.
  </h2>

</body>
</html>